.container{
    cursor: pointer;
    padding: 20px;
    background-color: #53c28b;
    border: none;
    width: max-content;
    border-radius: 5px;
    color: white;
    transition: 0.4s ease-in-out;
    }

.container:hover {
    background-color: #194c33;

}