.container {
  display: flex;
  align-self: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;

}


.title{
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
 
.desc{
  font-size: 24px;
  font-weight: 300;

}



.image {
width: 100%;
height: 500px;
object-fit: contain;
animation: bob 3s infinite ease alternate;
}

@keyframes bob {
  from{
      transform: translateY(-10px);
  }
  to{
    transform: translateY(10px);
}
 
}

