.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 300px;  
  gap: 20px;
}

.input {
    padding: 20px;
    background-color: transparent;
    border: 2px  solid #bbb;
    font-size: 20pz;
    border-radius: 5px;
    font-weight: bold;
    color: #bbb
}

.button{ 
    padding: 20px;
    background-color: #53c28b;
    cursor: pointer;
    border: none;
    font-size: 20pz;
    border-radius: 5px;
    font-weight: bold;
    color: white;

}


.google {
    background-color: rgba(228, 97, 50, 0.72);
    cursor: pointer;
    border: none;
    font-size: 20pz;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 20px;
    width: 300px;  
  }
  
  .google:hover {
    background-color: rgba(228, 97, 50, 0.803);
  }

  .github {
    background-color: rgba(32, 30, 30, 0.72);
    cursor: pointer;
    border: none;
    font-size: 20pz;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 20px;
    width: 300px;  
  }
  
  .github:hover {
    background-color: black;
  }